################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/bin
/CommandLine/CompareTool/obj/
/CommandLine/FunctionListGenerator/obj/
/CommandLine/LabelTool/obj/
/CommandLine/MLTExtract/obj/
/CommandLine/NBTool/obj/
/CommandLine/njConvert/obj
/CommandLine/ObjScan/obj/
/CommandLine/SETCodeGenerator/obj
/CommandLine/StructExporter/obj/
/CommandLine/USplit/obj/
/CommandLine/VariableListGenerator/obj
/CommandLine/TextFinder/obj
/SA1Tools/VMSEditor/obj/
/.vs
/CommandLine/splitExt/obj/
/CommandLine/MetaTransfer/obj/
/CommandLine/RecreatePVM/obj/
/CommandLine/BlockBitTool/obj/
/build/tools
/SoundBankEditor/obj/
/SoundBankEditor/obj/
/obj
/SoundBankEditor/obj/
/CommandLine/MatchTexID/obj
/SADXSourceView/obj
/CommandLine/RetargetAnim/obj
/CommandLine/GBIXScan/obj
/CommandLine/DupmodelMaker/obj
/CommandLine/PointerPatchMaker/obj
/CommandLine/ExportRawBinary/obj
/CommandLine/AssetMatchTool/obj
/CommandLine/splitFromFolder/obj
/CommandLine/splitDecomp/obj
/CommandLine/LabelGen/obj
/CommandLine/ScanAction/obj
